# Node.js
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.gz

# Environment files
.env
.env.local
.env.*.local

# Docker
docker-compose.override.yml
docker-compose.yaml

# Database
*.sqlite
*.sqlite3
/seeds/*.json

# IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
*.tmp

# ESLint
.eslintcache

# Coverage files
coverage/

# Miscellaneous
*.pid
*.seed
*.pid.lock

# MacOS Finder attributes
.AppleDouble
.LSOverride
